@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
	background-color: #666e75;
	border-radius: 5px;
}

.element-to-fade-to-top {
    opacity: 0;
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}
  
.fade-in-top {
    opacity: 0;
    transform: translateY(0px);
    animation-name: fadeInTop;
    animation-duration: 1.7s;
    animation-fill-mode: both;
}